:root {
    --img-url: url('/img/none');
    --thumbnail-size: 150px;
    --board-size: 400px;
    --board-res: 3;
}

* {
    box-sizing: border-box;
}

body {
    background: black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    background-image: var(--img-url);
    background-size: cover;
    background-position: center;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
}

.board {
    width: var(--board-size);
    height: var(--board-size);
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(var(--board-res), 1fr);
    background: #111;
}

.square {
    background-image: var(--img-url);
    background-size: calc(100% * var(--board-res)) calc(100% * var(--board-res));
    transition: 2s;
}

